<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <title>bookmanage</title>
</head>
<body>
<div th:replace="/common/layout::topnav"></div>
<form th:action="@{/admin/addbook}" method="get">
    <button class="btn btn-md btn-block" type="Submit">Add a Book</button>
</form>
<form action="/admin/bookmanage">
    <div class="form-group col-md-10">
    <input type="text" class="form-control" name="key" placeholder="书名、作者、类别、ISBN">
    </div>
    <div class="form-group col-md-2">
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
</form>
<form action="" method="get" th:if="${not #lists.isEmpty(books)}">
    <table class="table table-striped table-responsive">
        <tr>
            <td>title</td>
            <td>author</td>
            <td>publishdate</td>
            <td>ISBN</td>
            <td>Price</td>
            <!--<td>description</td>-->
            <!--<td>TOC</td>-->
            <td>clicks</td>
            <td>publishhouse</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="book:${books}">
            <td><span th:text="${book.title}"></span></td>
            <td><span th:text="${book.author}"></span></td>
            <td><span th:text="${book.publishDate}"></span></td>
            <td><span th:text="${book.ISBN}"></span></td>
            <td><span th:text="${book.Price}"></span></td>
            <!--<td><span th:text="${book.description}"></span></td>-->
            <!--<td><span th:text="${book.TOC}"></span></td>-->

            <td><span th:text="${book.clicks}"></span></td>
            <td><span th:text="${book.publishHouse}"></span></td>
            <td><span><a th:href="@{/admin/modifybook(id=${book.id})}">修改</a></span> </td>
            <td><span><a th:href="@{/admin/delbook(id=${book.id})}">删除</a></span> </td>
            <td><span><a th:href="@{/admin/rating(id=${book.id})}">评论</a></span> </td>
        </tr>
    </table>

</form>
<div th:replace="common/layout::sm-page"></div>
</body>
</html>