<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>show</title>
</head>
<body>
<div th:replace="/common/layout::topnav"></div>
<form action="" method="get" th:if="${not #lists.isEmpty(users)}">
    <table class="table table-striped table-responsive">
        <tr>
            <td>LoginId</td>
            <td>address</td>
            <td>name</td>
            <td>email</td>
            <td>telephone</td>
            <td>detail</td>
            <td>delete</td>
            <td></td>
        </tr>
        <tr th:each="user:${users}">
            <td><span th:text="${user.loginId}"></span></td>
            <td><span th:text="${user.address}"></span></td>
            <td><span th:text="${user.name}"></span></td>
            <td><span th:text="${user.mail}"></span></td>
            <td><span th:text="${user.phone}"></span></td>
            <td><span><a th:href="@{/admin/userdetail(id=${user.id})}">详细</a></span> </td>
            <td><span><a th:href="@{/admin/deluser(id=${user.id})}">删除</a></span> </td>
            <td>
            <form action="/admin/updateuserstate">
                <input type="hidden" name="userId" th:value="${user.id}">
                <button class="btn btn-warning" th:if="${user.userState eq 1}" type="submit" name="act" value="disable">禁用</button>
                <button class="btn btn-primary" th:if="${user.userState eq 2}" type="submit" name="act" value="enable">启用</button>
            </form></td>
        </tr>
    </table>
</form>
</body>
</html>