<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <!-- bootstrap-css -->

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--// css -->
    <link href="css/docs.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>
    <title>main</title>
    <style>
        html,

        body {

            padding-top: 20px;

        }


    </style>
</head>
<body>
<header th:replace="common/layout::header"></header>
<div class="col-md-2">
    <div class="col-md-10">
        <ul class="list-inline">
            <div class="new_container1">
                <li>

                    <div class="row">

                        <h3 th:text="${book.title}"> 私语书（插图珍藏版）
                            <div class="clear"></div>
                        </h3>
                        <br>
                        <div class="little_box">
                            <div class="col-md-3">

                                <img th:src="@{'/image/'+${book.ISBN}+'.jpg'}" height="184" width="130">
                            </div>

                            <div class="col-md-9">
                                <h4>作者: <span th:text="${book.author}"></span></h4>
                                <h4>出版社: <span th:text="${book.publishHouse}"></span></h4>
                                <h4>出版日期: <span th:text="${book.publishDate}"></span></h4>
                                <h4>价格:<span th:text="${book.price}"></span></h4>
                                <h4>ISBN: <span th:text="${book.ISBN}"></span></h4>

                                <p>
                                <form>

                                    <button type="submit" class="btn btn-primary btn-sm" name="bookId" th:value="${book.id}" formaction="/confirm">购 买</button>
                                    <button type="submit" class="btn btn-default btn-sm" name="bookId" th:value="${book.id}" formaction="/addtocart">加入购物车</button>
                                </form>
                                </p>
                                <br>

                            </div>
                        </div>
                        <h5>----内容简介-----</h5>
                        <p th:text="${book.description}"></p>
                        <h5>........评论.........</h5>
                        <p>————————————————————————————————————————————<p>
                        <p>评论日期:0000-00-00  用户id  评分</p>
                        <p>————————————————————————————————————————————<p>

                    </div>
                </li>
            </div>
            <br>
        </ul>
    </div>
</div>
</body>
</html>