<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <!-- bootstrap-css -->

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--// css -->
    <link href="css/docs.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>
    <title>main</title>
    <style>
        html,

        body {
            padding-top: 20px;
        }
        .sidebar{
            padding-top: 70px;
        }
    </style>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#add').click(function (event) {
                    event.preventDefault();
                    ajaxPost(parseInt($(this).parent().find('input').val()));
                });
            function ajaxPost(id){
                $.ajax({
                    type : "GET",
                    url:"/addtocart?bookId="+id,
                    success : function(result) {
                        alert("成功添加到购物车")
                    },
                    error : function(e) {
                        alert("Error!")
                        console.log("ERROR: ", e)
                    }
                });
            }
        })

    </script>
</head>
<body>
<header th:replace="common/layout::header"></header>
<div class="col-md-9">
    <ul class="list-inline">
        <div class="new_container1">
            <li>
                <div class="row">

                    <h3 id="title" th:text="${book.title}"> 私语书（插图珍藏版）
                        <div class="clear"></div>
                    </h3>
                    <br>
                    <div class="little_box">
                        <div class="col-md-3">

                            <img th:src="@{'/image/'+${book.ISBN}+'.jpg'}" height="184" width="130">
                        </div>

                        <div class="col-md-9">
                            <h4>作者: <span th:text="${book.author}"></span></h4>
                            <h4>出版社: <span th:text="${book.publishHouse}"></span></h4>
                            <h4>出版日期: <span th:text="${book.publishDate}"></span></h4>
                            <h4>价格:<span th:text="${book.price}"></span></h4>
                            <h4>ISBN: <span th:text="${book.ISBN}"></span></h4>

                            <p>
                            <form>
                                <input type="hidden" name="bookId" th:value="${book.id}">
                                <button type="submit" class="btn btn-primary btn-sm"  formaction="/confirm">购 买</button>
                                <button id="add" type="submit" class="btn btn-default btn-sm"  formaction="/addtocart">加入购物车</button>
                            </form>
                            </p>
                            <br>

                        </div>
                    </div>
                    <h5 id="description">-----内容简介-----</h5>
                    <p th:text="${book.description}"></p>


                    <h5 id="comment">-----评论-----</h5>
                    <div class="col-md-offset-5" th:unless="${not #lists.isEmpty(ratings)}">
                        <label class="col-md-offset-1">暂无评论</label>
                    </div>
                    <div th:each="bookRating:${ratings}">
                        <p>————————————————————————————————————————————<p>
                        <p th:with="i=${bookRating.rating}"><strong>评论时间:</strong><span th:text="${bookRating.createdTime}"></span>  <strong>用户id</strong> <span th:text="${bookRating.userName}"></span>
                        <strong>评分</strong> <span th:each="i : ${#numbers.sequence(1, bookRating.rating)}"><span class="glyphicon glyphicon-star"></span></span>
                        </p>
                        <p class="lead" th:text="${bookRating.comment}"></p>
                    </div>
                    <h5 id="toc">-----目录-----</h5>
                    <p th:utext="${book.TOC}"></p>

                </div>
            </li>
        </div>
        <br>
    </ul>
</div>
<div class="col-md-3">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix sidebar">
        <ul class="nav bs-docs-sidenav">

            <li>
                <a href="#description">简介</a>

            </li>
            <li>
                <a href="#comment">评论</a>

            </li>
            <li>
                <a href="#toc">目录</a>
            </li>

        </ul>
        <a class="back-to-top" href="#top">
            返回顶部
        </a>


    </nav>
</div>

</body>
</html>