<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="/css/carousel.css" type="text/css" media="all" />
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link href="/css/docs.min.css" rel="stylesheet">
    <title>main</title>
    <style>
        html,

        body {

            background:#F1F1F1;
            padding-top: 20px;

        }


    </style>
</head>
<body>
<header th:replace="common/layout::header"></header>


<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <img src="/image/p2.jpg" width="1164" height="454">
    <h1>.</h1>

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <h2>每月最受欢迎</h2>
            <br>
            <div th:each="book:${popularbooks}">
                <p>..............................................................................</p>
                <div class="col-md-7">
                    <p th:text="${book.title}">     c++ primer plus </p>
                    <p><span th:text = "${book.author}">作者：XXX</span> </p>
                    <p><span th:text = "${book.publishHouse}">出版社：XXXXXXX</span></p>
                    <p><span th:text = "${book.price}">价格：10000000</span></p>
                </div>
                <div class="col-md-5">
                    <a th:href="@{bookdetail(bookId=${book.id})}"><img th:src="@{'/image/'+${book.ISBN}+'.jpg'}" width="85" height="126"></a>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <h2>最新书单</h2>
            <br>
            <div th:each="book:${newbooks}">
                <p>..............................................................................</p>
                <div class="col-md-7">
                    <p th:text="${book.title}">     c++ primer plus </p>
                    <p><span th:text = "${book.author}">作者：XXX</span> </p>
                    <p><span th:text = "${book.publishHouse}">出版社：XXXXXXX</span></p>
                    <p><span th:text = "${book.price}">价格：10000000</span></p>
                </div>
                <div class="col-md-5">
                    <a th:href="@{bookdetail(bookId=${book.id})}"> <img th:src="@{'/image/'+${book.ISBN}+'.jpg'}" width="85" height="126"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4" >
            <div th:replace="common/layout::side"></div>
        </div>
</div>

<!-- START THE FEATURETTES -->

</body>
</html>