<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <title>OrderDetail</title>
</head>
<body>
<dl class="dl-horizontal" th:object="${order}">
    <dt>id</dt>
    <dd><span th:text="${order.id}"></span></dd>
    <dt>Date</dt>
    <dd><span th:text="${order.orderDate}"></span></dd>
    <dt>totalPrice</dt>
    <dd><span th:text="${order.totalPrice}"></span></dd>
    <dt>userId</dt>
    <dd><span th:text="${order.userId}"></span></dd>
</dl>
<table class="table table-striped table-responsive">
    <tr>
        <td>bookId</td>
        <td>bookTitle</td>
        <td>Author</td>
        <td>PublishHouse</td>
        <td>quantity</td>
    </tr>
    <tr th:each="cartItem:${items}">
        <td><span th:text="${cartItem.bookId}"></span></td>
        <td><span th:text="${cartItem.title}"></span></td>
        <td><span th:text="${cartItem.author}"></span></td>
        <td><span th:text="${cartItem.publishHouse}"></span></td>
        <td><span th:text="${cartItem.quantity}"></span></td>
    </tr>
</table>
</body>
</html>